<?xml version="1.0" encoding="utf-8" ?>
<settings version="1">
  <section id="addon" label="-1" help="-1">

    <!-- Hidden category with all settings which were add-on settings before multi-instance
         support was added to this add-on. Used for settings migration, which needs minimal
         settings definition to work. -->
    <category id="hidden_obsolete">
      <group id="1" label="-1">
      </group>
    </category>
  </section>
</settings>
